[submodule "other/detours"]
	path = other/detours
	url = https://github.com/microsoft/Detours.git
[submodule "other/xhook"]
	path = other/xhook
	url = https://github.com/iqiyi/xHook.git
[submodule "other/subhook"]
	path = other/subhook
	url = https://github.com/Zeex/subhook.git
[submodule "other/stub"]
	path = other/stub
	url = https://github.com/3gguan/stub.git
[submodule "other/lief"]
	path = other/lief
	url = https://github.com/lief-project/LIEF.git
[submodule "other/funchook"]
	path = other/funchook
	url = https://github.com/kubo/funchook.git
[submodule "other/distormx"]
	path = other/distormx
	url = https://github.com/gdabah/distormx.git
[submodule "other/plthook"]
	path = other/plthook
	url = https://github.com/kubo/plthook.git
[submodule "other/pelib"]
	path = other/pelib
	url = https://github.com/avast/pelib.git
[submodule "other/injectorpp"]
	path = other/injectorpp
	url = https://github.com/mazong1123/injectorpp.git
[submodule "other/dyninst"]
	path = other/dyninst
	url = https://github.com/dyninst/dyninst.git
[submodule "other/whale"]
	path = other/whale
	url = https://github.com/asLody/whale.git
